Repository ArcaneDiver/humor-pass: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc.json:

{
  "*.{css,less,scss,html,json,jsx,js,ts,tsx}": ["prettier --write"],
  "*.{tsx,Sts,jsx,js}": ["eslint --max-warnings 0 --fix"]
}

ci(build): build job depends on deps
  .github/workflows/ci.yml
Due: none

ci(error): handle fail and stop agents
  .github/workflows/ci.yml
Due: none

ci: add node setup environment action
  .github/workflows/ci.yml
Due: none

ci: set node version to 16 and force yarn build-in cache
  .github/workflows/ci.yml
Due: none

ci: set default node version as 14
  .github/workflows/ci.yml
Due: none

ci: testing npm i
  .github/workflows/ci.yml
Due: none

ci: restore yarn to install deps
  .github/workflows/ci.yml
Due: none

chore: remove gas reporter
  package.json
  yarn.lock
Due: prettier --write

chore: remove solidity-cov
  package.json
  yarn.lock
Due: prettier --write

ci: yarn ci
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

ci: test
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write

chore: remove drizzle
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write

ci(build): set fetch-depth to 0
  .github/workflows/ci.yml
Due: none

chore: remove commitz from git commit
  .github/workflows/ci.yml
  .husky/prepare-commit-msg
  package.json
Due: prettier --write

ci(deploy-docs): setup
  .env.example
  .github/workflows/ci.yml
  apps/dashboard/tsconfig.json
  package.json
Due: prettier --write

ci: restore yarn install instead of articats
  .github/workflows/ci.yml
Due: none

ci(agents): add agents for parallel builds
  .github/workflows/ci.yml
Due: none

ci(deploy): disable app and dashboard deploy jobs
  .github/workflows/ci.yml
Due: none

feat(components-app): init
  .github/workflows/ci.yml
  libs/components/app/.babelrc
  libs/components/app/.eslintrc.json
  libs/components/app/README.md
  libs/components/app/jest.config.js
  libs/components/app/src/index.ts
  libs/components/app/src/lib/components-app.spec.tsx
  libs/components/app/src/lib/components-app.tsx
  libs/components/app/tsconfig.json
  libs/components/app/tsconfig.lib.json
  libs/components/app/tsconfig.spec.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat(components-dashboard): init
  libs/components/dashboard/.babelrc
  libs/components/dashboard/.eslintrc.json
  libs/components/dashboard/README.md
  libs/components/dashboard/jest.config.js
  libs/components/dashboard/src/index.ts
  libs/components/dashboard/src/lib/components-dashboard.spec.tsx
  libs/components/dashboard/src/lib/components-dashboard.tsx
  libs/components/dashboard/tsconfig.json
  libs/components/dashboard/tsconfig.lib.json
  libs/components/dashboard/tsconfig.spec.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat(components-common): init
  libs/components/common/.babelrc
  libs/components/common/.eslintrc.json
  libs/components/common/README.md
  libs/components/common/jest.config.js
  libs/components/common/src/index.ts
  libs/components/common/src/lib/components-common.spec.tsx
  libs/components/common/src/lib/components-common.tsx
  libs/components/common/tsconfig.json
  libs/components/common/tsconfig.lib.json
  libs/components/common/tsconfig.spec.json
Due: prettier --write, eslint --max-warnings 0 --fix

chore: cleaning
  libs/shared/components/.babelrc
  libs/shared/components/.eslintrc.json
  libs/shared/components/README.md
  libs/shared/components/jest.config.js
  libs/shared/components/project.json
  libs/shared/components/src/index.ts
  libs/shared/components/src/lib/.gitkeep
  libs/shared/components/tsconfig.json
  libs/shared/components/tsconfig.lib.json
  libs/shared/components/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Due: prettier --write, eslint --max-warnings 0 --fix

feat(components): init basic components
  libs/components/app/.storybook/main.js
  libs/components/app/.storybook/preview.js
  libs/components/app/.storybook/tsconfig.json
  libs/components/app/src/lib/components-app.stories.tsx
  libs/components/app/tsconfig.json
  libs/components/app/tsconfig.lib.json
  libs/components/common/src/index.ts
  libs/components/common/src/lib/Head.tsx
  libs/components/common/src/lib/components-common.spec.tsx
  libs/components/common/src/lib/components-common.tsx
  libs/components/dashboard/src/index.ts
  libs/components/dashboard/src/lib/Content.tsx
  libs/components/dashboard/src/lib/Layout.tsx
  libs/components/dashboard/src/lib/NavItem.tsx
  libs/components/dashboard/src/lib/Navbar.tsx
  libs/components/dashboard/src/lib/Sidebar.tsx
  libs/components/dashboard/src/lib/components-dashboard.spec.tsx
  libs/components/dashboard/src/lib/components-dashboard.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(contracts): nft testing
  libs/contracts/contracts/HumorPass.sol
  libs/contracts/hardhat.config.ts
  libs/contracts/project.json
  libs/contracts/scripts/deploy.ts
  libs/contracts/src/addresses.ts
Due: prettier --write
